#-- Created on May 6th 2021 (re-calibrate setup after recent changes: re-machined vacuum plate with updated HV tail slot)

# Sensor    Ref-Point = corner of fiducial marker measured with Pattern Recognition
# Spacer    Ref-Point = corner of spacer in correspondence with the Sensor Ref-Point
# Baseplate Ref-Point = corner [...]
# NB: 'edge' <-> corner

####################################
### DIMENSIONS #####################
####################################

# dimensions: thickness of assembly components
Thickness_Baseplate   0.220
Thickness_PSS         0.250#0.700 #glass is 0.700
Thickness_PSP         0.635#0.700 #glass is 0.700
Thickness_MPA         0.000
Thickness_Spacer      0.700#1.800
Depth_SpacerSlots     0.75
Thickness_GlueLayer   0.040
Thickness_SpacerClamp 15.14 #actual value is 15.14, but I've added 1mm for calibrating the height when gluing


####################################
### POSITIONS ######################
####################################

# position: Camera pointing to Sensor Ref-Point area #These coordinates correspond to an arbitrary position where to position the sensor's ref. marker, so that it is quickly recognized by PatRec
RefPointSensor_X     15.125#15.075
RefPointSensor_Y     -110.05#-110.300
RefPointSensor_Z     -5.1504#-4.7504 
RefPointSensor_A     0.000#2.102#0.000

# position: ref-point on assembly platform for calibration of baseplate position (spacer aligned along x-axis)
# values correspond to bottom-left reference-edge on assembly platform #Make sure 'AngleOfCameraFrameInRefFrame_dA' is calibrated first
RefPointPlatform_X   -1.6181#-1.5681#-1.2951
RefPointPlatform_Y   -95.00#-95.2593
RefPointPlatform_Z   -1.6552
RefPointPlatform_A    2.2#1.8#1.6560#2.102 #0.859

# position: z-position where camera is focused on Assembly Stage surface
CameraFocusOnAssemblyStage_X      107.230
CameraFocusOnAssemblyStage_Y     -82.627
CameraFocusOnAssemblyStage_Z     -4.9434
CameraFocusOnAssemblyStage_A      0.000

# position: z-position where camera is focused on Gluing Stage surface #In Y, the spacers should be reasonably centered; in X, the spacer's 'bumps' should be well-positioned on the fast glue lego pieces
CameraFocusOnGluingStage_X      -143.25
CameraFocusOnGluingStage_Y      -72.08
CameraFocusOnGluingStage_Z      -78.10#-83.689 #-11.789 ## ACTUAL FOCAL DISTANCE IS CLOSE TO -106.789 --> don't want to touch down on gluing stage
CameraFocusOnGluingStage_A       0.000

# # position: ref-point on assembly platform for calibration of spacers position TB 6/7/2022
#PlatformRefPointCalibrationSpacers_X      18.551
#PlatformRefPointCalibrationSpacers_Y     -73.648
#PlatformRefPointCalibrationSpacers_A       1.6560

# # position: ref-point on assembly platform for calibration of baseplate TB 6/7/2022
# PlatformRefPointCalibrationBaseplate_X
# PlatformRefPointCalibrationBaseplate_Y
# PlatformRefPointCalibrationBaseplate_A

####################################
### DISTANCES ######################
####################################
#NB: below 'PSS/PRefPoint' correspond to the ref. point identified by PatRec, i.e. it is assembly-dependent

# distance: Angle of Camera Frame in the XY Motion Stage Ref-Frame [deg] #Obtained with the macro 'calibrations/AngleOfCameraFrameInRefFrame_dA.cc'
AngleOfCameraFrameInRefFrame_dA        -89.9602

# distance: from Sensor Ref-Point to Sensor Pickup position
FromSensorRefPointToSensorPickup_dX     85.65 #87.53 # FROM 85.65, added 1.88 mm
FromSensorRefPointToSensorPickup_dY     39.475 #39.85 #39.475 # FROM 39.85, sub'ed 0.375 mm 

# distance: dZ distance to go from Z position where camera provides best-focus on object,
# to Z position where free pickup-tool (i.e. with no other objects attached) touches the object
#  - empirical value calibrated with multi-pickup tests
FromCameraBestFocusToPickupHeight_dZ   -31.100

# distance: from PS-p Ref-Point to PS-s Ref-Point
FromPSPRefPointToPSSRefPoint_dX          0.40#0.35#-0.15#1.25
FromPSPRefPointToPSSRefPoint_dY          0.250#0.2#0.00

# distance: from Spacer physical edge to PS-s Ref-Point
FromSpacerEdgeToPSSRefPoint_dX           3.25#-1.486#4.00#-7.9
FromSpacerEdgeToPSSRefPoint_dY           5.50#0.76#5.00#-1.17

# distance: from PS-p physical edge to PS-p Ref-Point
FromPSPEdgeToPSPRefPoint_dX              1.1#0.90#1.3662#0.90#0.85
FromPSPEdgeToPSPRefPoint_dY             0.0#-0.33#-0.15

# distance: XY distance from 'final position to lower PSs+Spacers onto PSp' to 'position to lower PSs+Spacers onto Gluing Stage'
FromPSSPlusSpacersToMaPSAPositionToGluingStage_dX       -245.25
FromPSSPlusSpacersToMaPSAPositionToGluingStage_dY       0.0

# distance: from ref-point on assembly platform to spacer's edge corresponding to sensor ref. marker (in spacers platform orientation -- now same as baseplate orientation)
FromRefPointPlatformToSpacerEdge_dX        13.3946
FromRefPointPlatformToSpacerEdge_dY        -21.5547

# distance: from ref-point on assembly platform to PSp ref. edge (in baseplate platform orientation)
FromRefPointPlatformToPSPEdge_dX          15.4239#15.5439 #11.8439
FromRefPointPlatformToPSPEdge_dY          -16.1197#-16.1497#-21.6497
#FromRefPointPlatformtoPSPEdge_dA            1.8

# # distance: from ref-point on assembly baseplate to PSp ref. edge TB 6/7/2022
# FromPlatformRefPointCalibrationBaseplateToPSPEdge_dX    0.000
# FromPlatformRefPointCalibrationBaseplateToPSPEdge_dY    0.000

# # distance: from ref-point on assembly to the edge of the spacers TB 6/7/2022
# FromPlatformRefPointCalibrationSpacersToSpacersEdge_dX  0.000
# FromPlatformRefPointCalibrationSpacersToSpacersEdge_dY  0.000